@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://funtranslations.com/api/"> api used in translations</a>.</p>
</div>
